* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial;
  background-color: #000000;
}
.footer {
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;
}
